body {
    background: rgb(219, 219, 219);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.not-in-xml-file {
    color: red !important;
}

.from-template {
    color: blue !important;
}

.bolded {
    font-weight: bold;
}

#document {
    max-width: 880px;
    margin: 20px auto;
    margin-bottom: 40px;
    padding: 72px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 5px 8px 5px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 5px 8px 5px 1px rgba(0, 0, 0, 0.6);

    h1, h2, h3 {
        color: rgb(44, 131, 190);
    }
}

header {
    text-align: center;
    border-bottom: 3px rgb(200, 84, 102) solid;

    .document-title {
        font-size: 68px;
        font-weight: normal;
        margin-top: 0;
        color: black !important;
    }
}

#signature {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .signature-img {
        align-self: flex-start;
        width: 50px;
        height: auto;
        padding: 10px;
    }

    .signatures {
        display: flex;
        margin-top: 1em;

        .signature {
            display: flex;
            width: 50%;

            p:first-child {
                margin-top: 20px;
            }
        }
    }
}

#laboratory-info {
    border-top: 3px rgb(200, 84, 102) solid;
    border-bottom: 3px rgb(200, 84, 102) solid;
    padding: 10px 0;
    font-size: 14px;

    .logos {
        display: flex;
        justify-content: space-between;
    }
}

#calibration {
    .condition {
        .grid {
            display: grid;
            grid-template-columns: auto 1fr;
            margin-bottom: 60px;

            .grid-item {
                margin-right: 60px;
                padding: 1px;
            }
        }
    }

    .results {
        .loop {
            margin-bottom: 60px;
        }

        .uncertainty-table {
            .table-title {
                margin-bottom: 4px;
            }

            table {
                width: 100%;
                text-align: left;
                border-spacing: 0;
                border: 1px rgb(0, 0, 0) solid;

                th, td {
                    border: 1px rgb(0, 0, 0) solid;
                    padding: 2px;
                }

                th.text-align-center, td.text-align-center {
                    text-align: center;
                }
            }
        }
    }
}

footer {
    margin-top: 60px;
    font-size: 14px;
    .statement {
        border-top: 3px rgb(200, 84, 102) solid;
    }
}

.modal {
    max-width: 720px !important;
    padding-top: 35px !important;

    .detail-table {
        padding: 20px 0;

        td {
            padding: 5px 5px 5px 0;
        }

        tr td:first-child {
            font-weight: bold;
            padding-right: 15px;
        }
    }
}

.name, .title, .click, .validation {
    margin: 0;
}

.name {
    font-size: 1.1em;
}

.title {
    font-weight: bold;
}

.validation {
    font-weight: bold;
    color: green;
    text-transform: uppercase;
    margin-top: 5px;
}

.click {
    display: block;
    margin-top: 5px;
    font-size: .7em;
}